<body>
    <div class = "aboutPage">

        <h1>About {{tutor.first_name}}</h1>

        <div class = "aboutText">
            <h4>{{tutor.about}}</h4>
        </div>

        <div class = "bookButton">
            <a href = "">Book</a>
        </div>
    </div>
</body>