<head>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class = "landingPageText">
        <h1 id = "welcomeText">Welcome to Twuttor</h1>

        <h2 id = "sloganText">We get you connected with someone you can trust</h2>
        <h2 id = "sloganText">That way you can learn the way you enjoy</h2>
    </div>
    <div class = "launchButton">
        <a href = "/register">Get Started</a>
    </div>
</body>