<div style = "margin-top: 5%;">
{{> message}}
<center>
    <div "margin-top: 10%;">
        <font size="5">
            <b>
                Login for Tutors
            </b>
        </font>    
    </div>
    <form action="/loginTutor" method="POST">
        <div>
            <label for='username'>
                <b>Username:</b>
            </label>
        </div>
        <div>
            <input name='username'/>
        </div>
        <div>
            <label for='password'>
                <b>Password:</b>
            </label>
        </div>
        <div>
            <input type = "password" name="password"></input>
        </div>
        <div>
            <Button type='submit' class='btn btn-primary'>Login</Button>
        </div>
    </form>
    <br>
    <p1>Don't have a tutor account? <a href="/register">Register for a tutor account!</a></p1>
    <br>
<<<<<<< HEAD
    <p1>Looking for Student Login? <a href="/loginStudent">Click here for Tutor Login</a></p1>
=======
    <p1>Looking for Student Login? <a href="/loginStudent">Click here for Student Login</a></p1>
>>>>>>> main
</center>