{{> message}}
<div>
    <center>
        See ya!
        {{!-- <img src="/bye-bye.gif"> --}}
        <div class="redirect">
            <a href="/landing">Home</a>
        </div>
    </center>
</div>
