<div class="profileButtons">
    {{#if userTutor}}
        <div class="post">
            <form action="/post" method="POST" class="post-form">
                <h4>Add a post</h4>
                <div class="input-group">
                    <input type="text" name="title" placeholder="Title" class="input-title">
                    <input type="text" name="content" placeholder="Content" class="input-content">
                </div>
                <button type="submit" class="post-button">Post</button>
            </form>
        </div>
    {{/if}}
    {{#if userStudent}}
        <div class="students">
            <p>You are a student!</p>
        </div>
    {{/if}}
</div>
