{{> message}}
<body>
<center>
    <div class = "form-container" style = "margin-top: 10%;">
        <h3>Please enter the following information for storage in our database for better matching.</h3> 
        <form action="/registerInfoStudent" method="POST">
            <input name='first_name' placeholder="First Name" required>
            <input name="last_name" placeholder="Last Name"></input>
            <div>
                <input type = "email"name="email" placeholder="Email" style = "width: 100%;"></input>
            </div>
            <Button type='submit' class='btn btn-primary'>Submit</Button>
        </form>
    </div>
</center>
</body>