<div style = "margin-top: 5%;">
{{> message}}
<body>
<center>
    <div style = "margin-top: 10%;">
        <font size="5">
            <b>
                Register
            </b>
        </font>    
    </div>
    <form action="/register" method="POST">
        <div>
            <input type="radio" id="radio_button" name="tutor_student_rad" value="tutor" required>
            <label for="tutor_radio">I am a Tutor</label><br>
            <input type="radio" id="radio_button" name="tutor_student_rad" value="student">
            <label for="student_radio">I am a Student</label><br>
        </div>
        <div>
            <label for='username'>
                <b>Username:</b>
            </label>
        </div>
        <div>
            <input name='username' required>
        </div>
        <div>
            <label for='password'>
                <b>Password:</b>
            </label>
        </div>
        <div>
            <input type = "password" name="password" required></input>
        </div>
        <div>
            <Button type='submit' class='btn btn-primary'>Submit</Button>
        </div>
    </form>
</center>
</body>
