{{> message}}
<body>
<center>
    <div class = "form-container" id = "registerTutor" style="margin-top: 10%;">
        <h3>Please enter the following information for storage in our database for better matching.</h3>  
        <form action="/registerInfoTutor" enctype="multipart/form-data" method="POST">
            <div class = "form-group">
                <input type = "text" class = "form-control" name='first_name' placeholder="First Name" required>
                <input type = "text" class="form-control" name="last_name" placeholder="Last Name"></input>
                <input type = "email"  class="form-control" name="email" placeholder = "Email" required></input>

                <label for='topics'> <b>Topics:</b> </label>
                    <div>
                        <select name="topics[]" multiple size="3">
                            <option value="Math">Math</option>
                            <option value="Physics">Physics</option>
                            <option value="History">History</option>
                            <option value="English">English</option>
                            <option value="Philosophy">Philosophy</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Biology">Biology</option>
                            <option value="Calculus">Calculus</option>
                            <option value="Probability">Probability</option>
                            <!-- etc -->
                        </select>
                    </div>
                <label for='uploaded-file"'> <b>Upload a Profile Photo </b></label>
                <div>
                <input type="file" class="form-control-file" name="uploaded_file">
                </div>
                <div>
                    <Button type='submit' class='btn btn-primary'>Submit</Button>
                </div>
            </div>
        </form>
    </div>
</center>
</body>