{{> message}}
<body>
    <center>
        <div class = "form-container sign-up" style = "margin-top: 10%;">
            <h1>Create Account</h1>
            <form action="/register" method="POST">
                <div>
                    <input type="radio" class = "radio" name="tutor_student_rad" value="tutor" required>
                    <label for="tutor_radio">I am a Tutor</label><br>
                    <input type="radio" class = "radio" name="tutor_student_rad" value="student">
                    <label for="student_radio">I am a Student</label><br>
                </div>

                <div>
                    <input name='username' placeholder="Username" required>
                </div>

                <div>
                    <input type = "password" name="password" placeholder = "Password" required></input>
                </div>
                <div>
                    <Button type='submit' class='btn btn-primary'>Sign up</Button>
                </div>
            </form>
        </div>
    </center>
</body>