<header>
    <nav class = "navbar">
        <div class = "menu">
            <a href = "/landing">Twuttor</a>
            <form id = "searchBar"><input type = "text" placeholder = "Search.." name = "search"></form>
        </div>
        <div class = "nav-right">
            <a href = "/discover">Discover</a>
            <a href = "/about">Profile</a>
        </div>
    </nav>
</header>