<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
</head>

<body>
    <div style="position:relative; left:20px">
        <form action="/registerStudent" method="POST">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" class="form-control">
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" class="form-control">
            <button type="submit">Register</button>
        </form>
    </div>
</body>

</html>