.navbar {
    
    position: fixed;
    top: 20px;
    width: 100%;
    height: 2rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

.navbar input[type = text] {

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    float: right;
    padding: 6px;
    border: 1px solid grey;
    border-radius: 10px;
}

.menu {

    margin-left: 5%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 10%;
    gap: 4rem;
}

.menu a {

    color: black;
    font-size: 1.25em;
    text-decoration: none;
}

.menu a:hover {

    opacity: 70%;
}

.nav-right {

    margin-right: 5%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40%;
    gap: 2.5rem;
    justify-content: flex-end;

}

.nav-right a {

    color: black;
    font-size: 1.25em;
    text-decoration: none;
}
.nav-right a:hover {

    opacity: 70%;
}

.launchButton {
    margin-top: 35%;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.aboutPage h1 {

    font-weight: bolder;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif
}

.aboutPage h5 {

    opacity: 90%;
    font-size: 1em;
}

.aboutText h4 {

    margin-top: 50px;
    font-weight: 300;
}

.bookButton {

    margin-top: 50px;
    margin-left: 125px;
}

.bookButton a {

    color:white;
    width: 100px;
    border-radius: 15px;
    border: 2px solid black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    text-decoration: none;
    background-color: black;
}

.bookButton a:hover {

    opacity: 85%;
}

.container {

    display: flex;
}


.form-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 360px;
}

.form-container h1 {

    font-weight: 350;
}

.form-container span {
    font-size: 12px;
}

.form-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.form-container button {
    margin-top: 10px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.form-container input::file-selector-button {

    background-color: black;
    color: #fff;
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    letter-spacing: 0.5px;
}

.form-container input::file-selector-button:hover {

    opacity: 80%;
    cursor: pointer;
}

.form-container input {

    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
}

.form-container button:hover {

    opacity: 80%;
}

.form-container select {

    margin: 5px 0px;
    user-select: none;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    border-style: solid;
    border-width: 1;
    border-color: #ccc;
    width: auto;
    display: inline-block;
    width: 100%;
}

.form-container select:focus, select:hover {
    border-color: black;
}

.radio {
    
    accent-color: #966cf8;
}

.sign-up{

    width: 50%;
}

.posts {
    
    width: 40%;
    position: absolute;
    left: 50%;
    flex: 1; 
    margin-top: 20px;
    padding: 5px;

}

.post {
    
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: smaller;
}

.post h4 {
    
    margin: 0 0 10px 0;
}

.post p {

    margin: 5px 0;
}

.averageRating, .subjects, .aboutText, .bookButton {

    margin-bottom: 10px;
}

.students {
    background: #f0f0f0;
    border: 2px solid #000;
    border-radius: 16px;
    padding: 20px;
    max-width: 500px;
    margin: 100px auto 50px; /* Adjusted to center the form and provide spacing similar to the tutor's form */
}

.students select,
.students input[type="number"] {
    display: block;
    width: calc(100% - 40px); /* Adjusting width to factor padding */
    padding: 10px 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
}

.students button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.button-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 0.5em;
    border: none;
    box-shadow: 2px 6px 8px 0 rgba(20, 20, 24, 0.2);
    font-family: Arial, Helvetica, sans-serif
}

.btn {
    color: white;
    width: 150px;
    border-radius: 15px;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    background-color: black;
    font-size: large;
}

.btn:hover {
    background-color: black;
    border: 2px solid black;
    opacity: 80%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #000000;
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-100%);
    margin-right: 2%;
    margin-left: 2%;
}

.carousel-item {
    margin-right: 0;
    flex: 0 0 25%;
    display: block;
}

.carousel-inner {
    display: flex;
}

.profileButtons {
    margin-top: 150px;
}

.post-form {
    background: #f0f0f0; 
    border: 2px solid #000; 
    border-radius: 16px; 
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.input-group {
    background: #fff; 
    border-radius: 8px; 
    overflow: hidden; 
    border: 1px solid #ccc; 
    margin-bottom: 15px;
}

.input-title,
.input-content {
    border: none;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 30px);
}

.input-title {
    border-bottom: 1px solid #ccc;
}

.input-content {
    min-height: 150px;
}

.post-button {
    background: #000; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px; 
    cursor: pointer;
    display: block;
    width: 100%;
}


#landing {

    margin-left: 20px;
}

#welcomeText {

    margin-top: 150px;
    position: relative;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 50px;
}

#sloganText {

    font-weight: lighter;
    color:gray;
    text-align: center;
    font-size: 2em;
}

#searchBar {

    border-radius: 15px;
}

#getStarted {
    
    color:white;
    width: 100px;
    border-radius: 15px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    background-color: black;

}

#getStarted:hover {

    font-size: 1.05em;
    opacity: 85%;
}
#aboutPage {

    margin-top: 9%;
    flex-direction: row;
}

#tutorimg h4 {

    padding-left: 20px;
    transform: translate(10%, 300%);
}

#tutorInfo {

    flex-direction: column;
}

#profile {
    display: flex;
    flex-direction: row;
}

#updatePhoto {
    display:block;
    width: 30%;
    max-height: 200px;
}

#carouselExampleControls {
    margin-top: 6em;
}